---
- name: Deploy stack
  docker_stack:
    state: present
    name: mystack
    compose:
      - version: '3.7'
        services:
          app:
            image: "{{ deploy_app_image }}:{{ deploy_app_version }}"
            ports:
              - "{{ app_ports }}"
            deploy:
              replicas: 2
              update_config:
                parallelism: 1
                delay: 20s
                order: start-first
                failure_action: rollback
                monitor: 1m
              restart_policy:
                max_attempts: 3

